name: Build

on:
  push:
  release:
    types: [ created, edited ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        outputs: type=local,dest=.
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        path: '*.ipk'
        if-no-files-found: error
  upload:
    if: github.event_name == 'release'
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: artifact
    - run: >-
        mv *.ipk
        ${GITHUB_REPOSITORY##*/}-${{ github.event.release.tag_name }}.ipk
    - run: >-
        gh release upload --clobber --repo ${{ github.repository }}
        ${{ github.event.release.tag_name }}
        ${GITHUB_REPOSITORY##*/}-${{ github.event.release.tag_name }}.ipk
      env:
        GH_TOKEN: ${{ github.token }}
