name: Build

on:
  push:
  release:
    types: [ created, edited ]

permissions:
  contents: read

jobs:
  build:
    name: Build packages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - run: >-
        printf "SOURCE_DATE_EPOCH=%s\n"
        $(git log -1 --pretty=%ct 2>/dev/null || date --utc +%s)
        >> "$GITHUB_ENV"
    - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      env:
        DOCKER_BUILD_RECORD_UPLOAD: 'false'
      with:
        outputs: type=local,dest=.
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        path: |
          *.apk
          *.ipk
        if-no-files-found: error
  upload:
    name: Upload packages to release
    if: github.event_name == 'release'
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: artifact
    - run: >-
        mv *.ipk
        ${GITHUB_REPOSITORY##*/}-${{ github.event.release.tag_name }}.ipk
    - run: >-
        mv *.apk
        ${GITHUB_REPOSITORY##*/}-${{ github.event.release.tag_name }}.apk
    - run: >-
        gh release upload --clobber --repo ${{ github.repository }}
        ${{ github.event.release.tag_name }}
        ${GITHUB_REPOSITORY##*/}-${{ github.event.release.tag_name }}.ipk
        ${GITHUB_REPOSITORY##*/}-${{ github.event.release.tag_name }}.apk
      env:
        GH_TOKEN: ${{ github.token }}
  repository:
    name: Update repository
    if: github.event_name == 'release'
    needs: build
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
        sparse-checkout: packaging/
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: artifact
    - name: Write out key
      run: |
        echo "KEYFILE=$PWD/key.asc" >> "$GITHUB_ENV"
        cat > key.asc <<EOF
        $KEY
        EOF
      env:
        KEY: ${{ secrets.PUBLISH_KEY }}
    - name: Build repository
      uses: docker://alpine:edge
      with:
        args: /bin/sh -c "apk add -U gpg gpg-agent && packaging/publish.sh"
    - run: rm -f "$KEYFILE"
    - uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
    - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      with:
        path: out/
    -  uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
